.Footer--Content { 
    background-color: #2C3540;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
    .row {
        display: flex;
        flex-direction: column;
        margin-left: 3em;
        margin-right: 3em;
        .FlexChilds {
            flex: 1 0 14%;
            list-style: none;
            padding-top: 25px;
            padding-bottom: 2
            5PX;
            h2 {
                color: white;
                font-weight: bold;
                padding-bottom: 15px;
            }

            li {
                line-height: 2.255em;
                a {
                    color: white;
                    &:hover {
                        color: #3dd0AC;
                    }
                }
            }

        }

        .NewsFullWidth {
            flex: 9 0 18% !important;
            h2 {
                font-size: 1.4rem;
                padding-bottom: 1.5em;
            }

        }     
    }
}

.tab {
    background-color: #3dd0AC;
    font-size: 9px;
    font-weight: 700;
    border-radius: 16px;
    padding: 6px 12px;
    margin-left: 11px;
    &:hover {
        color: white !important;
    }

}

@media (min-width: 50em) {
    .Footer--Content {
        text-align: left;
        .row {
            flex-direction: row;
            display: -ms-flex;
	        display: -webkit-flex;
            align-items: stretch;
            flex-wrap: wrap;    
        }
    }
}
@media (min-width: 1195px) {
    .footer-container {
        max-width: 1285px;
        margin: 0 auto;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
}