.container {
    max-width: 1202px;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 55em ) { 
    .container {
      max-width: 1020px;
    }
}