*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#element{
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.container {
    max-width: 1202px;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
}

.flex.middle {
    align-items: center;
}

.container-fluid {
    max-width: 2402px;
    width: 78vw;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.bp-mb {
    margin-bottom: 3.5em;
}

.column-container {
    height: auto;
    display: flex;
    .flex-basis-50 {
        flex-basis: 50%;
    }

    .img-col {
        height: auto;
    }
}

@media (max-width: 55em ) { 
    .container {
      max-width: 1020px;
    }
}